version: 2
jobs:
  node:
    working_directory: ~/tia-client-react-native
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}

      - restore_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}

      - run: yarn install
      - run: npx jetify
      - save_cache:
          key: yarn-v1-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache/yarn

      - save_cache:
          key: node-v1-{{ checksum "package.json" }}-{{ arch }}
          paths:
            - node_modules

    #   - run:
    #       name: jest tests
    #       command: |
    #         mkdir -p test-results/jest
    #         yarn run test
    #       environment:
    #         JEST_JUNIT_OUTPUT: test-results/jest/junit.xml

      - persist_to_workspace:
          root: ~/tia-client-react-native
          paths:
            - node_modules

    #   - store_test_results:
    #       path: test-results

      - store_artifacts:
          path: test-results

  android:
    working_directory: ~/tia-client-react-native/android
    docker:
      - image: circleci/android:api-29-ndk
    steps:
      - checkout:
          path: ~/tia-client-react-native
      - attach_workspace:
          at: ~/tia-client-react-native

      - restore_cache:
          key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}

      - run: bundle install

      - save_cache:
          key: bundle-v1-{{ checksum "Gemfile.lock" }}-{{ arch }}
          paths:
            - vendor/bundle

      - run:
          name: Setup keystore properties
          command: |
            echo $RELEASE_KEYSTORE_PROPERTIES > ${HOME}/tia-client-react-native/android/release.keystore.properties
      - run:
          name: Setup keystore
          command: |
            echo $KEYSTORE | base64 -d  > ${HOME}/tia-client-react-native/android/app/tiarelease.keystore
      # - run:
      #     name: fastlane tests
      #     command: |
      #       mkdir -p test-results/fastlane
      #       bundle exec fastlane test
      #       mv fastlane/report.xml test-results/fastlane
      - run:
          name: Build debug APK and release APK
          command: |
            ./gradlew assembleDebug
      - store_test_results:
          path: app/build/outputs/apk/
          destination: apks/

      - run:
            name: Upload to Slack
            command: |
              export GIT_COMMIT_DESC=$(git log --format=oneline -n 1 | sed -E 's/^[^ ]+ (.*)$/\1/g')
              curl -F file=@app/build/outputs/apk/debug/app-debug.apk -F channels=$SLACK_CHANNEL -F token=$SLACK_API_TOKEN -F title="Here is new TIA build"  https://slack.com/api/files.upload

workflows:
  version: 2
  node-android-ios:
    jobs:
      - node
      - android:
          requires:
            - node